<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All State project page</title>
    <link rel="stylesheet" href="/CSS/index.css">
</head>

<body>

    <div class="first-content">
        <header>
            <div class="logo">
                <h3>AllState</h3>
            </div>

            <div class="navbar">
                <a href="#">About us</a>
                <a href="#">Service</a>
                <a href="#">Projects</a>
                <a href="#">Agents</a>
                <a href="#">Listing</a>

                <span><a href="http://"><ion-icon name="search-outline"></ion-icon></a></span>
            </div>

            <div class="link">
                <select>
                    <option value="">Other services</option>
                    <option>Customer Assistance</option>
                    <option>Team Work 1</option>
                    <option>Team Work 2 </option>

                </select>

                <button type="button"><a href="#">Contact us</a></button>
            </div>

        </header>


        <div class="main-content">
            <p>About us</p>
            <h1>A proficient team with extensive knowledge</h1>

            <img src="/Images/th.jpeg" alt="team work page" srcset="">

            <div class="small-para">
                <div>
                    <h3>50+</h3>
                    <p>Employees</p>
                </div>

                <div>
                    <h3>10+</h3>
                    <p>Countries</p>
                </div>

                <div>
                    <h3>35+</h3>
                    <p>Finished projects</p>
                </div>

                <div>
                    <h3>21+</h3>
                    <p>Offices</p>
                </div>

                <div>
                    <h3>15+</h3>
                    <p>Awarded projects</p>
                </div>
            </div>
        </div>


        <div class="content-2">
            <p>How can we help?</p>
            <h1>Flexilibity for your lifestyle</h1>

            <div id="lifestyle">
                <div class="box-1">

                    <img src="/Images/watch.jpg" alt="watch image">

                    <h2>Exploration </h2>
                    <p>If somethings happens to
                        your home -or any aatached
                        structures on your property-
                        we'll cover the repairs or
                        the rebuild. </p>
                    <a href="#">Learn more <span class="arrow"><ion-icon
                                name="arrow-forward-outline"></ion-icon></span></a>
                </div>

                <div class="box-2">

                    <img src="/Images/work assigment.jpg" alt="watch image">

                    <h2>Work assigments </h2>
                    <p>It not justshuff,it's your life,And if there's
                        ever a theft,fire or other unfortunate event,We'll
                        help with the repair. </p>
                    <a href="#">Learn more <span class="arrow"><ion-icon
                                name="arrow-forward-outline"></ion-icon></span></a>
                </div>

                <div class="box-3">

                    <img src="/Images/arrows-2.jpeg" alt="watch image">

                    <h2>Extended stays </h2>
                    <p>Our coverage protects you from bodly injury or property
                        damage to others (or their stuff)-at home
                        or anywhere also</p>
                    <a href="#">Learn more <span class="arrow"><ion-icon
                                name="arrow-forward-outline"></ion-icon></span></a>
                </div>

            </div>
        </div>


        <div class="content-Img">
            <img src="/Images/Home-2.jpeg" alt="House image">

            <div class="landing">
                <h3>Landing for <br> Corporate Housing </h1>
                    <p>From staffling firms and sport leagues to individual business travelers, our fully
                        furnished apartements are crafted to make your team feel instally at home.</p>

                    <button id="btn-1">Contact us</button>
                    <button id="btn-2">Read more</button>
            </div>
        </div>


    </div>

    <div class="second-content">

        <div id="lifestyle">
            <div class="box-1">

                <img src="/Images/watch.jpg" alt="watch image">

                <h2>Exploration </h2>
                <p>If somethings happens to
                    your home -or any aatached
                    structures on your property-
                    we'll cover the repairs or
                    the rebuild. </p>
                <a href="#">Learn more <span class="arrow"><ion-icon name="arrow-forward-outline"></ion-icon></span></a>
            </div>

            <div class="box-2">

                <img src="/Images/work assigment.jpg" alt="watch image">

                <h2>Work assigments </h2>
                <p>It not justshuff,it's your life,And if there's
                    ever a theft,fire or other unfortunate event,We'll
                    help with the repair.</p>
                <a href="#">Learn more <span class="arrow"><ion-icon name="arrow-forward-outline"></ion-icon></span></a>
            </div>

            <div class="box-3">

                <img src="/Images/arrows-2.jpeg" alt="watch image">

                <h2>Extended stays </h2>
                <p>Our coverage protects you from bodly injury or property
                    damage to others (or their stuff)-at home
                    or anywhere also</p>
                <a href="#">Learn more <span class="arrow"><ion-icon name="arrow-forward-outline"></ion-icon></span></a>
            </div>


        </div>


        <div class="content-Img">
            <img src="/Images/Home-2.jpeg" alt="House image">

            <div class="landing">
                <h3>Landing for <br> Corporate Housing </h3>
                <p>From staffling firms and sport leagues to individual business travelers, our fully
                    furnished apartements are crafted to make your team feel instally at home.</p>

                <button id="btn-1">Contact us</button>
                <button id="btn-2">Read more</button>
            </div>
        </div>


        <div class="Community">
            <p>Capturing Comminity</p>
            <h1>Elevate community engagement</h1>

            <div class="para-Img">
                <div class="paragraph">
                    <h3>A furnished living experience<br> not an aggregator</h3>

                    <h4>Q1. Premier corporate housing provider</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quo deserunt nulla reprehenderit
                        ipsum?
                    </p><br>

                    <h4>Q2. Find and book 100% crime</h4>
                    <p> Odit nobis asperiores eos, quas, aut similique beatae, animi esse impedit voluptatem quia
                        sapiente nostrum ipsa.</p><br>

                    <h4>Q3. Dedicated local manager</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam rem magni hic repellat
                        cupiditate architecto.</p><br>
                </div>

                <img src="/Images/th-1.jpeg" alt="Second content Image">
            </div>
        </div>

        <div class="team-Meet">
            <p>Our Team</p>
            <h3>Meet our awesome team</h3>
        </div>

        <div id="team-profiles">

            <div class="ImagesPart-1">

                <div>
                    <img src="/Images/BoyImage.jpg" alt="Profile images">
                    <h5>Lessie Akadar</h5>
                    <p>Founder & fie</p>
                </div>
                <div>
                    <img src="/Images/BoyImage.jpg" alt="Profile images">
                    <h5>Lessie Akadar</h5>
                    <p>Founder & fie</p>
                </div>
                <div>
                    <img src="/Images/BoyImage.jpg" alt="Profile images">
                    <h5>Lessie Akadar</h5>
                    <p>Founder & fie</p>
                </div>
                <div>
                    <img src="/Images/BoyImage.jpg" alt="Profile images">
                    <h5>Lessie Akadar</h5>
                    <p>Founder & fie</p>
                </div>
            </div>


            <div class="ImagesPart-2">

                <div>
                    <img src="/Images/BoyImage.jpg" alt="Profile images">
                    <h5>Lessie Akadar</h5>
                    <p>Founder & fie</p>
                </div>
                <div>
                    <img src="/Images/BoyImage.jpg" alt="Profile images">
                    <h5>Lessie Akadar</h5>
                    <p>Founder & fie</p>
                </div>
                <div>
                    <img src="/Images/BoyImage.jpg" alt="Profile images">
                    <h5>Lessie Akadar</h5>
                    <p>Founder & fie</p>
                </div>
                <div>
                    <img src="/Images/BoyImage.jpg" alt="Profile images">
                    <h5>Lessie Akadar</h5>
                    <p>Founder & fie</p>
                </div>
            </div>
        </div>

        <div class="form-content">
            <div class="header-12">
                <p>How can we help?</p>
                <h2>Have any question ? <br> Contact us.</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<span></span></p>
            </div>

            <form action="/register" method="post" id="contactForm">
                <input type="text" name="fName" id="" placeholder="First name" required>
                <input type="text" name="lName" id="" placeholder="last name" required><br>

                <input type="tel" name="phoneNo" id="phoneNo" placeholder="enter mobile no." required>
                <input type="Email" name="email" id="" placeholder="Email" required><br>

                <input type="password" name="password" id="Password" placeholder="Password" required>
                <input type="password" name="confirmPassword" id="Confirm_Password" placeholder="Confirm Password" required><br>

                <button type="submit">Submit</button><button type="reset">Reset</button>
            </form>
        </div>

        <div class="content-Img-2">
            <div class="landing-2">
                <h3>Subscribe our <br> newsletter</h1>
                <p>From staffling firms and sport leagues to individual business travelers, our fully
                        furnished apartements are crafted to make your team feel instally at home.</p>

                    <div class="input-button">
                        <input type="email" name="" id="" placeholder="email">
                        <button>Subscribe</button>
                    </div>
            </div>

            <img src="/Images/Home-2.jpeg" alt="House image">
        </div>


        <footer>
                <div class="logo">
                    <h3>AllState</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptate
                        voluptatem assumenda officia!</p>
                </div>
    
                <table class="footer-links">

                    <tr>
                        <th><a href="#">Home</a></th>
                        <th><a href="#">Company</a></th>
                        <th><a href="#">Resource</a></th>
                        <th><a href="#">Social</a></th>
                        
                    </tr>

                    <tr>
                        <td>link-1</td>
                        <td>link-2</td>
                        <td>link-3</td>
                        <td>link-4</td>
                    </tr>

                    <tr>
                        <td>link-1</td>
                        <td>link-2</td>
                        <td>link-3</td>
                        <td>link-4</td>
                    </tr>

                    <tr>
                        <td>link-1</td>
                        <td>link-2</td>
                        <td>link-3</td>
                        <td>link-4</td>
                    </tr>

                    <tr>
                        <td>link-1</td>
                        <td>link-2</td>
                        <td>link-3</td>
                        <td>link-4</td>
                    </tr>

                    <tr>
                        <td>link-1</td>
                        <td>link-2</td>
                        <td>link-3</td>
                        <td>link-4</td>
                    </tr>
                </table>

        </footer>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="/Script/script_1.js"></script>

    <script>
        const contactForm = document.getElementById("contactForm");

        contactForm.addEventListener('submit', function(event){
            const phoneNo = document.getElementById("phoneNo").value;
            const password = document.getElementById("Password").value;
            const confirmPassword = document.getElementById("Confirm_Password").value;

            if (phoneNo.length != 10) {
                alert("Enter A Correct Phone Number");
                event.preventDefault();
            }
             else if (password != confirmPassword) {
                alert("Please match password and Confirm Password");
                event.preventDefault();
            }
            else{
                alert("Your Data Submitted Successfully")
            }

        })
    </script>
</body>

</html>